.single-chart,
.all-charts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.single-chart>div {
    padding: 1.5rem;
}

.all-charts>div {
    padding: 1rem;
}